body {
	/*fondo*/
	background-image: url("../imagenes/fondo smile.jpg");
	font-family:"courier new", "arial"; 
	color:#FDFEFE;
	font-size:15px;
	text-align:justify;
}
p{
	/*tamaño de letra*/
	text-align:justify;
	color:#FDFEFE;
	font-size:25px;
}

hr{
	border:10px solid #EBDEF0;
	border-radius:10px;
}

/*Recuadro exteror -el azul- de productos*/
table,tr,td{
	border: 3px solid;
	border-color:#215FD8;
	background-color:#000000;
}

/* Th es para alinear al centro el texto, las imagenes y
principalmente para cambiar el color de fondo del recuadro interior de productos
- bodes rosas y fondo azul oscuro-*/
th{
	border: 3px solid;
	border-color: #D3179B;
	background-color: #000000;
	font-size:29px;
	color:#FDFEFE;
	font-family:mifuente3;
}

ul{
	/*indica el tipo de viñeta, en este caso un circulo ,puede ser tambien un cuadro*/
	list-style-type:circle;
	/*se indica la posicion de la viñeta*/
	list-style-position:inside;
}
ol{
	/*algunos de los valores  de list-style-type son:
	lower-alpha; lower-roman: upper-alpha; upper-roman:
	a,b,c,d,e,f i,ii,iii,iv A,B,C,D,E,F I,II,III,IV*/
	list-style-type: upper-roman;
	list-style-position:inside;
}
.pie{
	text-align:center;
	font-size:30px;
	color:#FDFEFE;
	font-family:mifuente2;
	font-weight:bold;
}	
/*Parte de Nosotros <como Historiade titulo>*/
.titulo2{
	text-align: center;
	font-size:40px;
	color:#090212;
	font-family:mifuente2;
	text-align: center;
	/*font-weight:bold;*/
}
/*Parte de Nosotros <como Historiade titulo>*/
.titulo{
	text-align: center;
	font-size:40px;
	color:#FDFEFE;
	font-family:mifuente2;
	text-align: center;
	/*font-weight:bold;*/
}

/*Parte superior de las paginas*/
.encabezado{
	font-family:mifuente;
	text-align:center;
	font-size:50px;
	font-weight:bold;
	color:#FDFEFE;
}

/*Estilo de letra y color de la tabla de productos y contacto*/
.tablas{
	font-family:"courier new","arial";
	font-size:30px;
	color:#FFFFFF;
}

.marquee{
	height:400px;
	width:400px;
}
.hipervinculo{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.imgtable{
	height:250px;
	width:250px;
}

/* Otras imagenes de inicio - Nosotros, Productos, Contacto
Y lluvia de ideas*/
.img{
	height:400px;
	width:550px;
}

/* Fuente de Encabezado*/
@font-face{
	font-family: mifuente;
	src:url(../fuentes/aBudgetTrip.ttf);
}

/* Fuente de titulo y pie de pagina*/
@font-face{
	font-family: mifuente2;
	src:url(../fuentes/Fadhista.ttf);
}
/* Fuente de texto en tablas con TH*/
@font-face{
	font-family: mifuente3;
	src:url(../fuentes/FairyCottage.ttf);
}

/*fuente de demás texto <prototipo> es opcional
solo si gustas cambiar el tipo de texto <un ejemplo esta
en Nosotros en la descripción de Historia*/
.texto{font-size:35px;
	color:#FDFEFE;
	font-family:mifuente4;
}

@font-face{
	font-family: mifuente4;
	src:url(../fuentes/FairyCottage.ttf);
}
.fuentegoogle{
	font-family:
	font-family:
	font-family:
	text-align:
	font-size:	
}
*{
	margin:1px;
	padding:1px;
}
div#top{
	width:100%;
	height:130px;
	background-image:linear-gradient(#2E3AEB,#1B1B1E);
	}
div#principal{
	margin:auto;
	margin-top:100px;
	width:80%;
	height:418px;
	background-image:radial-gradient(#17202A,#17202A);
	}
div#principalmedio{
	margin:auto;
	margin-top:100px;
	width:80%;
	height:700px;
	background-image:radial-gradient(#17202A,#17202A);
	}
div#piep{
	margin-top:20px;
	width:100%;
	height:200px;
	background-image:url(../imagenes/opcion 1.jpg);
}
.caja{
	height:475px;
	width:300px;
	background:#17202A;
	border:1px solid #3498DB;
	margin:5px;
	color:#FDFEFE;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px #A04000;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:#FDFEFE;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
div#largo{
	margin:auto;
	margin-top:80px;
	width:80%;
	height:1650px;
	background-image:radial-gradient(#17202A,#17202A);
}
.carrousel{
    width: 600px;
    margin:auto;
    box-sizing: border-box;
}

.contecarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemcarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemcarrouseltarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemcarrouselarrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemcarrouselarrows > i:hover {
    cursor: pointer;
}
/*
#itemCarrousel-1{
    background-color: red;
}

#itemCarrousel-2{
    background-color:blue;
}

#itemCarrousel-3{
    background-color: green;
}
#itemCarrousel-4{
    background-color: purple;
}
*/
.contecarrouselcontroller{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.contecarrouselcontroller > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.itemcarrouselarrows > a > i{
    color: white;
}	

.menu:hover{
	box-shadow:0 0 20px pink;
	transform:scole(103);
	color:blue;
}
.menu{
	height:300px;
	width:200px;
	morgin:10px;
	color:green;
	text-align:center;
}
.descripcion{
	font-family:texto;
	border-color:#FDFEFE;
	text-align:center;
	background-color:#FD66FD;
	font-size: 20px;
	width:60%;
}
.descripcion´:hover{
	box-shadow:0 0 20px #ABEBC6;
	transform:scale(1.1);
}
.hipervinculo:hover{
	box-shadow:0 0 20px pink;
	transform:scale(1.3);
}
	
	
	
	
	
	
	